body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: .9;
  text-align: center;
  margin-top:0;
  margin-left: 0;
}
header {
  background-color: black;
  display: flex;
  border-bottom: 1px solid seashell;
  height: 69px;
  position: fixed;
  width: 100%;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
}
.logo img{
  height: 50px;
}
.logo {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

nav a {
  color: seashell;
}
nav span {
  padding: 20px 10px;
  display: inline-block;
}
.main {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}
#mission {
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
  padding-top: 70px;
}
#mission .content {
  background-color: black;
  width: 100%;
  margin: auto;
}
.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
h2, h3, h4 {
  margin: 0px;
  padding: 10px;
}
h2 {
  display: block;
  font-weight: bold;
}
h4 {
  display: block;
  font-weight: bold;
}
h5 {
  display: block;
  font-weight: bold;
}
.locations {
  height: 500px;
  background-image: url("../images/img-locations-background.jpg");
  margin: auto;
  width: 1200px;
  padding-top: 70px;
}
.local {
  opacity: 1;
  background-color: black;
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 5px 20px;
}
#locations {
  margin-bottom: 15px;
}
.main2 {
  width: 1000px;
  height: 700px;
  padding-top: 70px;
  margin: auto;
}
div {

  display: block;
}
.items {
  display: flex;
  flex-direction: column;
}
.item img{
  height: 200px;
  display: block;
  margin: 10px;
}
.contacts {
  height: 200px;
  background-color: black;
}
footer {
  margin-left: 20px;
  text-align: left;
}
