/* "Tamming" Box Model With Reset */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 18px;
}

body {
  font-family: Helvetica, sans-serif;
}

h1,
h4 {
  font-weight: bold;
}

.company {
  background-color: black;
  color: white;
}

.company .container {
  display: flex;
  align-items: center;
  padding: .66rem 0 .66rem .5rem;
}
.company img {
  height: 1.5rem;
  padding-right: 1rem;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

.main {
  height: 25rem;
  background-image: url("../resources/moto.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.arrival {
  position: relative;
  top: 9rem;
  width: 20rem;
  height: 13rem;
  background-color: black;
  padding: 2rem 3rem;
  color: white;
}

.arrival h1 {
  margin: .25rem 0;
  font-size: 2rem;
  line-height: 1.2;
}
nav {
  background-color: firebrick;
  color: white;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .75rem 0;
}

.products,
 .biz-info{
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;
}

.product {
  width: 30%;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
}
.product-image img {
  max-width: 8rem;
}
.description {
  padding: .5rem 0;
  margin-bottom: 3rem;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info {
  width: 35%;
  margin-bottom: 4rem;
}
.title {
  background-color: black;
  color: white;
  display: flex;
  padding: 1rem 0 1rem 2rem;
}
footer {
  background-color: black;
  color: white;
  text-align: left;
  padding: 5rem;
}
footer .container {
  padding-top: 2rem;
}
