body {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.home {
  background-image: url("../images/the-flatiron-building.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  text-align: center;
  color: white;
}

.button {
  color: white;
  font-size: 18px;
}

.footer {
  text-align: left;
  background-color: dimgray;
  font-size: 11px;
  color: white;
}

#design {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
