/* Universal Styles */
html {
  font-size: 16px;
  transition: all 1s ease;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}
footer, header, main, section {
  width: 100%;
}
body > * {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.33;
  letter-spacing: normal;
  word-spacing: normal;
}
a {
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-decoration: none;
  letter-spacing: .08rem;
}
/* Header Section */
header {
  position: fixed;
  z-index: 1;
  display: flex;
  height: 64px;
  background-color: lightyellow;
}
nav {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 1.5rem;
}
nav img {
  height: 1.5rem;
}
.logo {
  display: flex;
  align-items: center;
}
.logotype {
  font-family: sans-serif;
  font-size: 1.25rem;
  display: flex;
  letter-spacing: .05rem;
  text-transform: uppercase;
  color: black;
}
.colmar {
  font-weight: 600;
  color: black;
}
.academy {
  font-weight: 200;
  color: grey;
}
.menu {
  display: flex;
  flex-flow: row nowrap;
}
.menu a {
  margin: 0 0 0 1rem;
  color: black;
}
.mobile-nav {
  display: none;
}
